.gamePad {
    display: grid;
    grid-template-areas:
        ". up ."
        "left . right"
        ". down .";
    margin: auto;
}

.page {
    display: flex;
    height: 100%;
}

.leftButton {
    grid-area: left;
}

.rightButton {
    grid-area: right;
}

.upButton {
    grid-area: up;
}

.downButton {
    grid-area: down;
}
